---
import BaseLayout from '../layouts/BaseLayout.astro';
const title = 'nik astro from index'
---

<BaseLayout title={title}>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolore harum nobis quos? Deleniti nihil nostrum odit omnis possimus quidem. Animi deleniti dolore doloremque eligendi fugiat provident quae repellat sapiente?</p>
</BaseLayout>